#
# Barf user configuration
#

# Number of parallel compilation build jobs
JOBS="4"

# Git trees
CROSSTOOL_GIT="https://github.com/crosstool-ng/crosstool-ng"
UBOOT_GIT="git://git.denx.de/u-boot.git"

# Git branches
CROSSTOOL_GIT_BRANCH="master"

# Reduce bandwidth, speed up the cloning process
CROSSTOOL_GIT_OPTS=(--depth"="1 -b "${CROSSTOOL_GIT_BRANCH}" --single-branch)

# Additional U-Boot git options are called directly by barf_prep but
# you are highly advised not to mess with those unless you know what you are doing.
# You may update UBOOT_GIT_TAG to the latest stable U-Boot release if this file is out-of-date.
# Removing the following line will give you the latest development code if you need it.
UBOOT_GIT_TAG="v2017.07"

# Package versions
LINUX_VER="4.9.35"
GCC_VER="6.3.0"
MPFR_VER="3.1.5"
MPC_VER="1.0.3"
GMP_VER="6.1.2"
GLIBC_VER="2.25"
GPERF_VER="3.1"
BASH_VER="4.4"
BASH_VER_CUT="44"
BASH_PATCHLEVEL="p12"
BINUTILS_VER="2.28"
NCURSES_VER="6.0"
ZLIB_VER="1.2.11"
COREUTILS_VER="8.27"
UTIL_LINUX_VER="2.30"
FINDUTILS_VER="4.6.0"
GREP_VER="3.1"
GZIP_VER="1.8"
SED_VER="4.4"
GAWK_VER="4.1.4"
PAM_VER="1.3.0"
SHADOW_VER="4.5"
OPENRC_VER="0.27.2"
SYSVINIT_VER="2.88dsf"
EUDEV_VER="3.2.2"
PROCPS_NG_VER="3.3.12"
LIBRESSL_VER="2.5.4"
IPROUTE2_VER="4.11.0"
NET_TOOLS_VER="1.60"
TAR_VER="1.29"
IPTABLES_VER="1.6.1"
FLEX_VER="2.6.4"
TEXINFO_VER="6.4"
BISON_VER="3.0.4"
BC_VER="1.07.1"
ELFUTILS_VER="0.169"
LIBTOOL_VER="2.4.6"
XZ_VER="5.2.3"
LZO_VER="2.10"
LZOP_VER="1.03"
LZ4_VER="1.7.5"
WGET_VER="1.19.1"
AUTOMAKE_VER="1.15.1"
AUTOCONF_VER="2.69"
M4_VER="1.4.18"

# Download source locations
# Sourceforge files are a bitch when using wget, may need to host myself on github
# Also, it'd be smart to integrate SHA512/MD5 checksum verification.
LINUX_LOC="https://cdn.kernel.org/pub/linux/kernel/v4.x/linux-${LINUX_VER}.tar.xz"
GCC_LOC="https://ftp.gnu.org/gnu/gcc/gcc-${GCC_VER}/gcc-${GCC_VER}.tar.bz2"
MPFR_LOC="https://ftp.gnu.org/gnu/mpfr/mpfr-${MPFR_VER}.tar.xz"
MPC_LOC="http://ftp.gnu.org/gnu/mpc/mpc-${MPC_VER}.tar.gz"
GMP_LOC="https://ftp.gnu.org/gnu/gmp/gmp-${GMP_VER}.tar.xz"
GLIBC_LOC="https://ftp.gnu.org/gnu/libc/glibc-${GLIBC_VER}.tar.bz2"
GPERF_LOC="https://ftp.gnu.org/gnu/gperf/gperf-${GPERF_VER}.tar.gz"
BASH_LOC="https://ftp.gnu.org/gnu/bash/bash-${BASH_VER}.tar.gz"
BINUTILS_LOC="https://ftp.gnu.org/gnu/binutils/binutils-${BINUTILS_VER}.tar.bz2"
NCURSES_LOC="https://ftp.gnu.org/gnu/ncurses/ncurses-${NCURSES_VER}.tar.gz"
ZLIB_LOC="https://www.zlib.net/zlib-${ZLIB_VER}.tar.gz"
COREUTILS_LOC="https://ftp.gnu.org/gnu/coreutils/coreutils-${COREUTILS_VER}.tar.xz"
UTIL_LINUX_LOC="https://www.kernel.org/pub/linux/utils/util-linux/v${UTIL_LINUX_VER}/util-linux-${UTIL_LINUX_VER}.tar.xz"
FINDUTILS_LOC="https://ftp.gnu.org/gnu/findutils/findutils-${FINDUTILS_VER}.tar.gz"
GREP_LOC="https://ftp.gnu.org/gnu/grep/grep-${GREP_VER}.tar.xz"
GZIP_LOC="https://ftp.gnu.org/gnu/gzip/gzip-${GZIP_VER}.tar.xz"
SED_LOC="https://ftp.gnu.org/gnu/sed/sed-${SED_VER}.tar.xz"
GAWK_LOC="https://ftp.gnu.org/gnu/gawk/gawk-${GAWK_VER}.tar.xz"
PAM_LOC="http://www.linux-pam.org/library/Linux-PAM-${PAM_VER}.tar.gz"
SHADOW_LOC="https://github.com/shadow-maint/shadow/archive/${SHADOW_VER}.tar.gz"
OPENRC_LOC="https://github.com/OpenRC/openrc/archive/${OPENRC_VER}.tar.gz"
SYSVINIT_LOC="http://download.savannah.gnu.org/releases/sysvinit/sysvinit-${SYSVINIT_VER}.tar.bz2"
EUDEV_LOC="https://github.com/gentoo/eudev/archive/v${EUDEV_VER}.tar.gz"
PROCPS_NG_LOC="https://downloads.sourceforge.net/project/procps-ng/Production/procps-ng-${PROCPS_NG_VER}.tar.xz"
LIBRESSL_LOC="https://ftp.openbsd.org/pub/OpenBSD/LibreSSL/libressl-${LIBRESSL_VER}.tar.gz"
IPROUTE2_LOC="https://www.kernel.org/pub/linux/utils/net/iproute2/iproute2-${IPROUTE2_VER}.tar.xz"
NET_TOOLS_LOC="https://downloads.sourceforge.net/project/net-tools/net-tools-${NET_TOOLS_VER}.tar.bz2"
TAR_LOC="https://ftp.gnu.org/gnu/tar/tar-${TAR_VER}.tar.xz"
IPTABLES_LOC="ftp://ftp.netfilter.org/pub/iptables/iptables-${IPTABLES_VER}.tar.bz2"
FLEX_LOC="https://github.com/westes/flex/archive/v${FLEX_VER}.tar.gz"
TEXINFO_LOC="https://ftp.gnu.org/gnu/texinfo/texinfo-${TEXINFO_VER}.tar.xz"
BISON_LOC="https://ftp.gnu.org/gnu/bison/bison-${BISON_VER}.tar.xz"
BC_LOC="https://ftp.gnu.org/gnu/bc/bc-${BC_VER}.tar.gz"
ELFUTILS_LOC="ftp://sourceware.org/pub/elfutils/${ELFUTILS_VER}/elfutils-${ELFUTILS_VER}.tar.bz2"
LIBTOOL_LOC="https://ftp.gnu.org/gnu/libtool/libtool-${LIBTOOL_VER}.tar.xz"
XZ_LOC="https://tukaani.org/xz/xz-${XZ_VER}.tar.xz"
LZO_LOC="http://www.oberhumer.com/opensource/lzo/download/lzo-${LZO_VER}.tar.gz"
LZOP_LOC="https://www.lzop.org/download/lzop-${LZOP_VER}.tar.gz"
LZ4_LOC="https://github.com/lz4/lz4/archive/v${LZ4_VER}.tar.gz"
WGET_LOC="https://ftp.gnu.org/gnu/wget/wget-${WGET_VER}.tar.xz"
AUTOMAKE_LOC="https://ftp.gnu.org/gnu/automake/automake-${AUTOMAKE_VER}.tar.xz"
AUTOCONF_LOC="https://ftp.gnu.org/gnu/autoconf/autoconf-${AUTOCONF_VER}.tar.xz"
M4_LOC="https://ftp.gnu.org/gnu/m4/m4-${M4_VER}.tar.xz"

# You probably don't need to modify these
LINUX_COMP="${BARF_TARDIR}/linux-${LINUX_VER}.tar.xz"
GCC_COMP="${BARF_TARDIR}/gcc-${GCC_VER}.tar.bz2"
MPFR_COMP="${BARF_TARDIR}/mpfr-${MPFR_VER}.tar.xz"
MPC_COMP="${BARF_TARDIR}/mpc-${MPC_VER}.tar.gz"
GMP_COMP="${BARF_TARDIR}/gmp-${GMP_VER}.tar.xz"
GLIBC_COMP="${BARF_TARDIR}/glibc-${GLIBC_VER}.tar.bz2"
GPERF_COMP="${BARF_TARDIR}/gperf-${GPERF_VER}.tar.gz"
BASH_COMP="${BARF_TARDIR}/bash-${BASH_VER}.tar.gz"
BINUTILS_COMP="${BARF_TARDIR}/binutils-${BINUTILS_VER}.tar.bz2"
NCURSES_COMP="${BARF_TARDIR}/ncurses-${NCURSES_VER}.tar.gz"
ZLIB_COMP="${BARF_TARDIR}/zlib-${ZLIB_VER}.tar.gz"
COREUTILS_COMP="${BARF_TARDIR}/coreutils-${COREUTILS_VER}.tar.xz"
UTIL_LINUX_COMP="${BARF_TARDIR}/util-linux-${UTIL_LINUX_VER}.tar.xz"
FINDUTILS_COMP="${BARF_TARDIR}/findutils-${FINDUTILS_VER}.tar.gz"
GREP_COMP="${BARF_TARDIR}/grep-${GREP_VER}.tar.xz"
GZIP_COMP="${BARF_TARDIR}/gzip-${GZIP_VER}.tar.xz"
SED_COMP="${BARF_TARDIR}/sed-${SED_VER}.tar.xz"
GAWK_COMP="${BARF_TARDIR}/gawk-${GAWK_VER}.tar.xz"
PAM_COMP="${BARF_TARDIR}/Linux-PAM-${PAM_VER}.tar.gz"
SHADOW_COMP="${BARF_TARDIR}/${SHADOW_VER}.tar.gz"
OPENRC_COMP="${BARF_TARDIR}/${OPENRC_VER}.tar.gz"
SYSVINIT_COMP="${BARF_TARDIR}/sysvinit-${SYSVINIT_VER}.tar.bz2"
EUDEV_COMP="${BARF_TARDIR}/v${EUDEV_VER}.tar.gz"
PROCPS_NG_COMP="${BARF_TARDIR}/procps-ng-${PROCPS_NG_VER}.tar.xz"
LIBRESSL_COMP="${BARF_TARDIR}/libressl-${LIBRESSL_VER}.tar.gz"
IPROUTE2_COMP="${BARF_TARDIR}/iproute2-${IPROUTE2_VER}.tar.xz"
NET_TOOLS_COMP="${BARF_TARDIR}/net-tools-${NET_TOOLS_VER}.tar.bz2"
TAR_COMP="${BARF_TARDIR}/tar-${TAR_VER}.tar.xz"
IPTABLES_COMP="${BARF_TARDIR}/iptables-${IPTABLES_VER}.tar.bz2"
FLEX_COMP="${BARF_TARDIR}/v${FLEX_VER}.tar.gz"
TEXINFO_COMP="${BARF_TARDIR}/texinfo-${TEXINFO_VER}.tar.xz"
BISON_COMP="${BARF_TARDIR}/bison-${BISON_VER}.tar.xz"
BC_COMP="${BARF_TARDIR}/bc-${BC_VER}.tar.gz"
ELFUTILS_COMP="${BARF_TARDIR}/elfutils-${ELFUTILS_VER}.tar.bz2"
LIBTOOL_COMP="${BARF_TARDIR}/libtool-${LIBTOOL_VER}.tar.xz"
XZ_COMP="${BARF_TARDIR}/xz-${XZ_VER}.tar.xz"
LZO_COMP="${BARF_TARDIR}/lzo-${LZO_VER}.tar.gz"
LZOP_COMP="${BARF_TARDIR}/lzop-${LZOP_VER}.tar.gz"
LZ4_COMP="${BARF_TARDIR}/v${LZ4_VER}.tar.gz"
WGET_COMP="${BARF_TARDIR}/wget-${WGET_VER}.tar.xz"
AUTOMAKE_COMP="${BARF_TARDIR}/automake-${AUTOMAKE_VER}.tar.xz"
AUTOCONF_COMP="${BARF_TARDIR}/autoconf-${AUTOCONF_VER}.tar.xz"
M4_COMP="${BARF_TARDIR}/m4-${M4_VER}.tar.xz"

# You probably don't need to modify these either
LINUX_SRCDIR="${BARF_SRCDIR}/linux-${LINUX_VER}"
GCC_SRCDIR="${BARF_SRCDIR}/gcc-${GCC_VER}"
MPFR_SRCDIR="${BARF_SRCDIR}/mpfr-${MPFR_VER}"
MPC_SRCDIR="${BARF_SRCDIR}/mpc-${MPC_VER}"
GMP_SRCDIR="${BARF_SRCDIR}/gmp-${GMP_VER}"
GLIBC_SRCDIR="${BARF_SRCDIR}/glibc-${GLIBC_VER}"
GPERF_SRCDIR="${BARF_SRCDIR}/gperf-${GPERF_VER}"
BASH_PREPATCH_SRCDIR="${BARF_SRCDIR}/bash-${BASH_VER}"
BASH_SRCDIR="${BARF_SRCDIR}/bash-${BASH_VER}_${BASH_PATCHLEVEL}"
BINUTILS_SRCDIR="${BARF_SRCDIR}/binutils-${BINUTILS_VER}"
NCURSES_SRCDIR="${BARF_SRCDIR}/ncurses-${NCURSES_VER}"
ZLIB_SRCDIR="${BARF_SRCDIR}/zlib-${ZLIB_VER}"
COREUTILS_SRCDIR="${BARF_SRCDIR}/coreutils-${COREUTILS_VER}"
UTIL_LINUX_SRCDIR="${BARF_SRCDIR}/util-linux-${UTIL_LINUX_VER}"
FINDUTILS_SRCDIR="${BARF_SRCDIR}/findutils-${FINDUTILS_VER}"
GREP_SRCDIR="${BARF_SRCDIR}/grep-${GREP_VER}"
GZIP_SRCDIR="${BARF_SRCDIR}/gzip-${GZIP_VER}"
SED_SRCDIR="${BARF_SRCDIR}/sed-${SED_VER}"
GAWK_SRCDIR="${BARF_SRCDIR}/gawk-${GAWK_VER}"
PAM_SRCDIR="${BARF_SRCDIR}/Linux-PAM-${PAM_VER}"
SHADOW_SRCDIR="${BARF_SRCDIR}/shadow-${SHADOW_VER}"
OPENRC_SRCDIR="${BARF_SRCDIR}/openrc-${OPENRC_VER}"
SYSVINIT_SRCDIR="${BARF_SRCDIR}/sysvinit-${SYSVINIT_VER}"
EUDEV_SRCDIR="${BARF_SRCDIR}/eudev-${EUDEV_VER}"
PROCPS_NG_SRCDIR="${BARF_SRCDIR}/procps-ng-${PROCPS_NG_VER}"
LIBRESSL_SRCDIR="${BARF_SRCDIR}/libressl-${LIBRESSL_VER}"
IPROUTE2_SRCDIR="${BARF_SRCDIR}/iproute2-${IPROUTE2_VER}"
NET_TOOLS_SRCDIR="${BARF_SRCDIR}/net-tools-${NET_TOOLS_VER}"
TAR_SRCDIR="${BARF_SRCDIR}/tar-${TAR_VER}"
IPTABLES_SRCDIR="${BARF_SRCDIR}/iptables-${IPTABLES_VER}"
FLEX_SRCDIR="${BARF_SRCDIR}/flex-${FLEX_VER}"
TEXINFO_SRCDIR="${BARF_SRCDIR}/texinfo-${TEXINFO_VER}"
BISON_SRCDIR="${BARF_SRCDIR}/bison-${BISON_VER}"
BC_SRCDIR="${BARF_SRCDIR}/bc-${BC_VER}"
ELFUTILS_SRCDIR="${BARF_SRCDIR}/elfutils-${ELFUTILS_VER}"
LIBTOOL_SRCDIR="${BARF_SRCDIR}/libtool-${LIBTOOL_VER}"
XZ_SRCDIR="${BARF_SRCDIR}/xz-${XZ_VER}"
LZO_SRCDIR="${BARF_SRCDIR}/lzo-${LZO_VER}"
LZOP_SRCDIR="${BARF_SRCDIR}/lzop-${LZOP_VER}"
LZ4_SRCDIR="${BARF_SRCDIR}/lz4-${LZ4_VER}"
WGET_SRCDIR="${BARF_SRCDIR}/wget-${WGET_VER}"
AUTOMAKE_SRCDIR="${BARF_SRCDIR}/automake-${AUTOMAKE_VER}"
AUTOCONF_SRCDIR="${BARF_SRCDIR}/autoconf-${AUTOCONF_VER}"
M4_SRCDIR="${BARF_SRCDIR}/m4-${M4_VER}"
UBOOT_SRCDIR="${BARF_SRCDIR}/u-boot"

# Custom packages:
# Follow the syntax above and add your packages below like so:
#
# Tarballs:
# PKGNAME_VER="X.Y.Z"
# PKGNAME_LOC="protocol://YOUR/CUSTOM/PACKAGE/URL/file.extension"
# PKGNAME_COMP="${BARF_TARDIR}/YOUR_PACKAGE.file.extension
# PKGNAME_SRCDIR="${BARF_SRCDIR}/YOUR_PKGNAME-${PKGNAME_VER}"
# Then add your package(s) to the following functions of barf_prep:
# fetch_custom_tar
# unpack_custom_tar
#
# Git:
# YOURPKG_GIT="protocol://YOUR/GIT/REPO.git"
# PKGNAME_SRCDIR="${BARF_SRCDIR}/YOUR_GITSRCDIR"
# Optionally:
# CUSTOM_GIT_BRANCH="your-branch"
#
# Then add your repo(s) to the following functions of barf_prep:
# fetch_custom_git
# update_custom_git
#
# Add your build instructions to barf_builder under the build_custom function
